.todo-ucapan {
  font-size: 1.5rem;
  color: #00adb5;
  font-weight: 600;
}
.done .todoText {
  text-decoration: line-through;
  opacity: 0.3;
}

.card {
  margin-bottom: 20px;
}

.todoBg {
  background-color: #00adb5;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: 22px;
  position: relative;
}

.todoBg div {
  display: flex;
  align-items: center;
}

.todoBg .iconsWrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;
}

.todoBg .iconsWrap span {
  display: inline-block;
  margin: 0px 10px 0 10px;
  cursor: pointer;
  color: #00ff89;
}

.todoBg .iconsWrap span:focus-visible {
  outline: none;
}

.todoBg .iconsWrap span:hover {
  color: yellow;
}

.mr-20 {
  margin-right: 20px;
}

.todoNumber {
  color: white;
  font-size: 1rem;
  border: 2px solid white;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  font-size: 14px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
}

.todoText {
  color: white;
  flex: 1;
  font-size: 1rem;
}
