.feature {
  margin-top: 5rem;
  h2 {
    color: #00adb5;
    font-weight: 600;
  }
}

.row-feture {
  gap: 2rem;
  .card-feature {
    background-color: #e7fafc;
    padding: 1.5rem;
    border-radius: 10px;

    .feature-title {
      display: flex;
      align-items: center;

      img {
        height: 60px;
        margin-right: 1rem;
      }

      h3 {
        color: #00adb5;
        font-weight: bold;
        font-size: 1.2rem;
      }
    }
    .feature-description {
      p {
        color: #00adb5;
        font-size: 0.8rem;
      }
    }
  }
}
