// Change boostrap primary color
$primary: #00adb5;

@import 'bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #00adb5;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

.history-container,
.todo-container {
  background-color: #f0f3f8;
  min-height: 100vh;
  padding: 50px 180px 30px 180px;
}

.history-icon,
.todo-icon {
  font-size: 1.7em;
  color: #fd7e50;
  margin-right: 10px;
}
.todo-icon {
  color: #00adb5 !important;
}

.history-title,
.todo-title {
  width: 260px;
  border-radius: 10px;
  padding: 5px 15px;
  background-color: white;
  font-weight: bold;
  margin-bottom: 30px;
}

.text-preparation-wrapper {
  padding-top: 40px;
  width: 60%;
  margin-bottom: 80px;
}

.test-container {
  min-height: 100vh;
  padding: 50px 100px;
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'a1 a2';
}

.btn:hover {
  color: #fff;
}
